* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    
}

.header {
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px;
}

.footer {
    padding: 10px;
    margin: 20px;
    font-size: 30px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px;
}
.city {
    margin: 20px;
    padding: 20px;
}

.main {
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px;
}