
<div class="row">
  <div class="col-md-12">
    <div class="col-md-12 main">
        <h1 class="currentCity">Seattle, WA</h1>
    </div> 

    <div class="col-md-6">
      <h2 style="color: red">Forecast: {{seattle.weather[0].description}}</h2>
      <h3>Temperature (High): {{seattle.main.temp_max}}</h3>
      <h3>Temperature (Low): {{seattle.main.temp_min}}</h3>
      <h3>Humidity (Average): {{seattle.main.humidity}}</h3>
    </div>

    <div class="col-md-6 cityPic">  
        <img src="http://www.localtrips.com/images/seattle-trips.jpg" class="img-thumbnail img-responsive" alt="Seattle" width="320">
    </div>
  </div>
</div>
